# Iris dataset

**Need to add**

- visualizations and plots to demonstrate the data exploration process.
- code for preprocessing steps (e.g., handling missing values, converting categorical variables)
- a Logistic Regression model with feature importance analysis
- possible comparison of different models using cross-validation or AUC ROC curves

https://archive.ics.uci.edu/dataset/53/iris

In [20]:
import pandas as pd

# train_test_split
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [4]:
column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
iris_data = pd.read_csv("iris.data", delimiter=",")
iris_data.columns = column_names
print(iris_data)

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [5]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
iris_data.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.103784      0.871283     0.816971
sepal_width      -0.103784     1.000000     -0.415218    -0.350733
petal_length      0.871283    -0.415218      1.000000     0.962314
petal_width       0.816971    -0.350733      0.962314     1.000000

- The Sepal length has a strong positive corrleation with both petal length and petal width
- The Sepal width has weak negeative correlations with everything
- The Petal length is strongly positivily correlated with Sepal legnth and petal width
- The Petal width is strongly positively correlated with sepal length and petal length

without looking anywhere else I think it would be cool to predict the class column based on the data describing the flowers. 
#to do this, I should turn the class column into dummy variables, verify all data is in numerical format, traintest split the 4 features remaining

In [9]:
iris_data["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Just 3 variables.
- 'Iris-setosa' = 0 
- 'Iris-versicolor' = 1
- 'Iris-virginica' = 2

In [16]:
iris_data["Class_Catagory"] = iris_data["class"].map(
    {"Iris-setosa": 0, "Iris-versicolor": 1, "Iris-virginica": 2}
)
iris_data["Class_Catagory"]

0      0
1      0
2      0
3      0
4      0
      ..
144    2
145    2
146    2
147    2
148    2
Name: Class_Catagory, Length: 149, dtype: int64

In [21]:
features = iris_data[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
labels = iris_data["Class_Catagory"]

In [22]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size=0.2, random_state=42
)